<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields name="params">
		<fieldset name="params" label="COM_PAINTER_OPTIONS_FIELDSET_LEGEND">
			<field name="default_itemid" type="menuitem" label="COM_PAINTER_DEFAULT_ITEMID_LABEL" description="COM_PAINTER_DEFAULT_ITEMID_DESC" />
			<field name="noauth_itemid" type="menuitem" label="COM_PAINTER_REDIRECT_NOAUTH_ITEMID_LABEL" description="COM_PAINTER_REDIRECT_NOAUTH_ITEMID_DESC" />
			<field name="upgrade_itemid" type="menuitem" label="COM_PAINTER_REDIRECT_UPGRADE_ITEMID_LABEL" description="COM_PAINTER_REDIRECT_UPGRADE_ITEMID_DESC" />
			<field name="customer_group" type="accesslevel" label="COM_PAINTER_DEFAULT_CUSTOMER_GROUP_LABEL" description="COM_PAINTER_DEFAULT_CUSTOMER_GROUP_DESC" />
			<field name="premium_membership" type="accesslevel" label="COM_PAINTER_PREMIUM_MEMBERSHIP_LABEL" description="COM_PAINTER_PREMIUM_MEMBERSHIP_DESC" />
			<field name="free_membership" type="accesslevel" label="COM_PAINTER_FREE_MEMBERSHIP_LABEL" description="COM_PAINTER_FREE_MEMBERSHIP_DESC" />
		</fieldset>
		<fieldset name="uploads" label="COM_PAINTER_IMAGE_UPLOAD_FIELDSET_LEGEND">
			<field name="max_width" type="text" size="12" default="400" label="COM_PAINTER_MAX_WIDTH_LABEL" description="COM_PAINTER_MAX_WIDTH_DESC" />
			<field name="max_height" type="text" size="12" default="300" label="COM_PAINTER_MAX_HEIGHT_LABEL" description="COM_PAINTER_MAX_HEIGHT_DESC" />
		</fieldset>
	</fields>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" validate="rules" filter="rules" component="com_painter" section="component" />
	</fieldset>
</config>